@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #2E3C5E;
    /* display:flex: ; จัดไอคอนให้อยู่กลางในแนวนอน */
    display: flex;
    /* justify-content: center; จัดไอคอนให้อยู่กลางในแนวนอน */
    justify-content: center;
    /* align-items: center; จัดไอคอนให้อยู่กลางในแนวนอน */
    align-items: center;
    height: 100vh; /* กำหนดความสูงของหน้าจอ */
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

form{
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1); /* กำหนดเงารอบฟอร์ม */
    font-family: "Montserrat", sans-serif;
}

h3{
    color: black;
    margin: 20px;
}

label{
    color: black;
    display: block;
    margin-bottom: 10px;
}

input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 10px;
    width: 90%;
}

button{
    background-color: black;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: #000 0px 0px 0px;
    margin: 10px;
}

button:hover{
    background-color: #fff;
    color: #5deb58;
}